# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.cyber-jellyfish-library.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\mruee\Documents\Projects\VersionControl\Unity\cyber-jellyfish-library\.idea\.idea.cyber-jellyfish-library\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
